<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [31]:
# write your answer here
string = input("Enter string : ")
leng = len(string)
print("Length of the string is :",leng)

Enter string : Raju
Length of the string is : 4

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [3]:
# write your answer here
def fr(str):
    dict = {}
    for z in str:
        keys = dict.keys()
        if z in keys:
            dict[z] += 1
        else:
            dict[z] = 1
    return dict
print(fr('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [35]:
# write your answer here
Res = 0
Lis = [11,12,13,14,15]
le = len(Lis)
for ele in range(0, le):
    Res = Res + Lis[ele]
print("Sum of all elements in given list: {0} ".format(Res))

Sum of all elements in given list: 65

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [6]:
# write your answer here
samp_str = str(input("Enter a string : "))
exp_res = samp_str[0]
for char in samp_str[1:]:
    if char == samp_str[0]:
        exp_res+="$"
    else:
        exp_res+=char

print("New Output is : {0}".format(exp_res))

Enter a string : restart
New Output is : resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [7]:
# write your answer here
k = int(input("Enter a value : "))
l = int(input("Enter b value : "))
h = 1 + k/l
d = 3.14 * (h)**3
print("Res : {0}".format(d))

Enter a value : 2
Enter b value : 3
Res : 14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [8]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
final_dict = {} 
for d in (dic1, dic2, dic3):
  final_dict. update (d)

print(final_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [11]:
# write your answer here
tp = (3,9,1,2,0)
alpha = int(input("Enter the number to search : "))
ans = alpha in tp
print("Does the tuple have",alpha,"?",ans)

Enter the number to search : 7
Does the tuple have 7 ? False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [13]:
# write your answer here
my_set = (3,9,1,4,8)
maximum = max(my_set)
minimum = min(my_set)
print("The maximum value of the set is",maximum,"and minimum is",minimum)

The maximum value of the set is 9 and minimum is 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [14]:
# write your answer here
import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
len_str =[5, 6, 4, 6, 5, 4]
answer = []
for length in len_str:
  batch = random.sample(studnet_list, length)
  studnet_list = list(set(studnet_list) ^ set(batch))
  answer = answer + [batch]
    
for line in answer:
    print(line, end= '\n')

['gn0108', 'kg0569', 'sc1229', 'aos0040', 'sm1640']
['ak0934', 'kg0470', 'sk1386', 'av0659', 'dr0609', 'fh0141']
['sk1313', 'ms1500', 'sb1357', 'bg0320']
['ds0814', 'hy0232', 'vm0377', 'sg1297', 'sk1458', 'nm0618']
['sa1198', 'sk1390', 'ja0964', 'nv0234', 'vb0218']
['ak0956', 'pr0353', 'jl1252', 'sm1907']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [17]:
# write your answer here
def duplicate1(numbers):
    numbers_set = set()
    no_dup = -1
    length = len(numbers)
    for k in range(length):
        if numbers[k] in numbers_set:
            return numbers[k]
        else:
            numbers_set.add(numbers[k])
    return no_dup
print(duplicate1([5, 3, 1, 4, 9, 8]))

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [44]:
from datetime import date, timedelta
year = int(input("Enter year : "))
def total_sun(year):
       de = date(year, 1, 1)       
       de += timedelta(days = 6 - de.weekday())  
       while de.year == year:
          yield de
          de += timedelta(days = 7)
          
for k in total_sun(year):
   print(k)

Enter year : 2012
2012-01-01
2012-01-08
2012-01-15
2012-01-22
2012-01-29
2012-02-05
2012-02-12
2012-02-19
2012-02-26
2012-03-04
2012-03-11
2012-03-18
2012-03-25
2012-04-01
2012-04-08
2012-04-15
2012-04-22
2012-04-29
2012-05-06
2012-05-13
2012-05-20
2012-05-27
2012-06-03
2012-06-10
2012-06-17
2012-06-24
2012-07-01
2012-07-08
2012-07-15
2012-07-22
2012-07-29
2012-08-05
2012-08-12
2012-08-19
2012-08-26
2012-09-02
2012-09-09
2012-09-16
2012-09-23
2012-09-30
2012-10-07
2012-10-14
2012-10-21
2012-10-28
2012-11-04
2012-11-11
2012-11-18
2012-11-25
2012-12-02
2012-12-09
2012-12-16
2012-12-23
2012-12-30